{% extends "layout.html" %}
{% block title %}RequestBin - {{bin.name}}{% endblock %}
{% block icon %}<link rel="shortcut icon" href="{{bin.favicon_uri}}" />{% endblock %}
{% block sidebar %}{% endblock %}
{% block binurl %}
    <form class="pull-left binurl">
      <input type="text" value="http://{{host}}/{{bin.name}}" onclick="this.select()" />
    </form>
{% endblock %}
{% block head %}
    <style type="text/css">
      .binurl input, .binurl input:hover, .binurl input:focus  {
        margin-left: 60px; 
        padding-left: 26px; 
        background-color: white; 
        color: black; 
        background-image: url({{bin.favicon_uri}}); 
        background-repeat: no-repeat; 
        background-position: 6px 5px;
      }
      .request { margin-bottom: 20px; clear: both;}
      .request hr { clear: both; padding-top: 20px; }
      .request .meta {
        text-align: right;
        width: 160px;
        margin-left: -180px;
        float: left;
        position: absolute;
        color: #aaa;
      }
      .request .meta a { color: #aaa; }
      .request .pills { margin-bottom: 0px; float: right; }
      .request .command { display: inline; }
      .request .view { clear: both; }
      .request .contentinfo.note { 
        float: right; 
        text-align: right; 
        font-size: 16px; 
        color: #aaa; 
        margin-right: 5px; 
      }
      .request .headers-view li { color: #404040; margin-left: 130px; }
      .request .headers-view li div { 
        color: gray; 
        font-weight: bold; 
        width: 120px; 
        margin-left: -130px; 
        float: left; 
        margin-right: 10px; 
        text-align: right; 
      }
      .request .content-view li { color: #404040; margin-left: 130px; }
      .request .content-view li div { 
        color: gray; 
        font-weight: bold;
        width: 120px; 
        margin-left: -130px; 
        float: left; 
        margin-right: 10px; 
        text-align: right;
      }
    </style>
    <script type="text/javascript">
      function toggleView(requestId) {
        $('#'+requestId+' .pills li').toggleClass('active');
        $('#'+requestId+' .headers-view').toggle();
        $('#'+requestId+' .content-view').toggle();
      }
    </script>
{% endblock %}
{% block content %}
    {% for request in bin.requests %}
    <div class="request" id="{{request.id}}">

      <div class="meta">
        <h2><a href="#{{request.id}}">#{{request.id}}</a></h2>
        <p>{{request.created}}<br />{{request.remote_addr}}</p>
      </div>

      <h2 class="command">{{request.method}} {{request.path}}</h2>
      <ul class="pills">
        <li><a href="javascript:void(0)" onclick="toggleView('{{request.id}}')">Headers</a></li>
        <li class="active"><a href="javascript:void(0)" onclick="toggleView('{{request.id}}')">Content</a></li>
      </ul>

      <div class="view">
        <div class="content-view note contentinfo">
          {% if request.content_type %}{{request.content_type}}<br />{% endif %}
          {{request.content_length|default("0", true)}} bytes
        </div>
        <ul class="content-view unstyled">
          {% for part in request %}
          <li><div>{{ part.0 }}</div>{{ part.1|escape }}</li>
          {% endfor %}
        </ul>
        <ul class="headers-view unstyled" style="display: none;">
          {% for header in request.headers.items() %}
          <li><div>{{ header.0 }}</div>{{ header.1|escape }}</li>
          {% endfor %}
        </ul>
      </div>
      <hr />
    </div>
    {% endfor %}

    <div class="alert-message block-message info">
      <p>This {% if bin.private %}<strong>private</strong>{% endif %} bin will keep the last 50 requests made to it and remain available for the next 48 hours.</p>
    </div>
{% endblock %}
